body{
	background-image: url('holetexture.png');
}

#site{
	height: 1000px;
	margin: 0 auto;
	width: 1400px;
}

#title{
	text-align: center;
	font-family: "Cantarell";
	color: #ffffff;
	font-size: 60px;
	top: 50px;
	z-index: 2;
	letter-spacing: 7px;
	background-color: #6600cc;
	position: relative;
	margin: auto;
	width: 800px;
}


#menu{
	position: relative;
	font-family: "Cantarell";
	top: 200px;
	line-height: 3;
	z-index: 2;
	width: 200px;
}

a {
	color: #000000;
	text-decoration: none;
	font-size: 40px;
	transition: color 4s;
	z-index: 2;
	background-color: #99ff99;
}:hover{
	color: #cc0000;
}

#textbox{
	position: relative;
	width: 800px;
	height: 480px;
	background-color: #ffcc33;
	margin: auto;
	top: -130px;
	
}

#text{
	font-family: "Cantarell";
	font-size: 25px;
	padding: 20px;
	color: #2c1c39;
	font-style: italic;
}

button{
	top: -40px;
	width: 100px;
	height: 50px;
	border:none;
	background-color: #ffcc33;
	font-family: "Cantarell";
	position: relative;
	font-size: 15px;
	left: 300px;
	margin-right: 129px;
}

button:hover{
	background-color: #0400ff;
	color: #ffffff;
}

