body{
	background-color: #ffcc33;
}

#site{
	height: 2000px;
	margin: 0 auto;
	width: 1400px;
}

#title{
	display: block;
	top: 50px;
	z-index: 2;
	position: relative;
	margin: auto;
	width: 1189px;
	height: 138px;
}


#menu{
	position: relative;
	
	top: 200px;
	line-height: 3;
	z-index: 2;
	width: 200px;
}

a {
	color: #000000;
	
	font-size: 25px;
	transition: color 1s;
	transition-timing-function: ease-out;
	z-index: 2;
	text-decoration: underline;
	
}:hover{
	color: #0000ff;
}

#projecttable{
	position: relative;
	width: 800px;
	height: 430px;
	background-color: #ffcc33;
	margin: auto;
	top: -100px;
	font-size: 25px;
}


