body{
	background-image: url('cubebackground.png');
}

#site{
	height: 1500px;
	margin: 0 auto;
	width: 1400px;
}

#title{
	text-align: center;
	font-family: "Cantarell";
	color: #515151;
	font-size: 80px;
	top: 50px;
	z-index: 2;
	letter-spacing: 7px;
	position: relative;
	margin: auto;
	width: 800px;
	
}


#menu{
	position: relative;
	font-family: "Cantarell";
	top: 200px;
	line-height: 2;
	z-index: 2;
	width: 200px;
	font-size: 30px;
	color: #150061;
}

a {
	color: #0066ff;
	text-decoration: none;
	
	transition: color 4s;
	z-index: 2;
}:hover{
	color: #993366;
}
#curator-feed-default-feed-layout{
  left: -150px;
}
