p{font-family: "Rubik", sans-serif;}


.portfoliod{
	width: 300px;
	height: 750px;
}

.ptitle{
	position: absolute;
	top: -50px;
	left: 50px;
	font-size: 40px;
}



.photop{
  max-width: 300px;
  max-height: 300px;

}


.textbox{
	background-color: #00ffcc;
	width: 100%;
	height: 400px;
	z-index: 0;
	transition: background-color 10s;
	transition-timing-function: ease-out;
}

.textbox:hover{
	background-color: #80b3ff;
}

.namep{
	transition: opacity .5s;
	width: 280px;
	left: 20px;
	top: 50px;
	font-size: 25px;
	font-weight: bold;
	left: 90px;
	z-index: 2;
}

.infop{
	transition: opacity .5s;
	width: 280px;
	left: 20px;
	top: 95px;
	font-size: 18px;
	font-style: italic;
	left: 90px;
}

.bodyp{
	transition: opacity .5s;
	top: 150px;
	font-size: 18px;
	width: 280px;
	left: 20px;
}

